.address-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding-bottom: 120px;
  padding-right: 300px;
}

.address-form-card {
  background-color: lightyellow;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}
.addressimg{
  padding-left: 200px;
  
}
.address-form-card .heading {
  margin-bottom: 20px;
}

.address-form-card form label {
  display: block;
  margin-bottom: 8px;
}

.address-form-card form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.address-form-card .button-container {
  display: flex;
  justify-content: space-between;
}

.address-form-card .button-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.address-form-card .save-address-btn {
  background-color: #4caf50;
  color: #fff;
}

.address-form-card .proceed-btn {
  background-color: #2196f3;
  color: #fff;
}
